@font-face {
    font-family: "Oswald";
    src: url(./Oswald-VariableFont_wght.ttf); 
}

body {
    margin: 0;
    padding: 0;
    height: 2000px;
    font-family:Oswald, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.heading .Name {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 900;
    font-variant-caps: all-small-caps;
    font-style: oblique;
    font-synthesis: weight style;
    font-stretch: ultra-condensed;
    line-height: 2;
}

.heading .Name {
    vertical-align: middle;
}
.Data {
    font-family: Oswald;
    font-size: 200;
    font-style: normal;
    line-height: 1.5;
    column-count: 3;
    column-width: 150px;
    column-gap: 10px;
}

.Text {
    font-family: Oswald;
    font-size: 200;
    font-style: normal;
    text-align: justify;
    text-justify: distribute;
}

